<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Gizlilik Sözleşmesi
  body
    h1 Gizlilik Sözleşmesi
    p Bloom liseli olan herkese açıktır ve paylaşımlar hemen dünyanın herhangi bir yerinden herkes tarafından görüntülenebilir ve aranabilir. Korumalı paylaşımlar ve Doğrudan Mesajlar aracılığıyla size Bloom'da iletişim kurmanın halka açık olmayan yollarını sunuyoruz.
    br
    p Bloom kullandığınızda, yalnızca paylaşımlaralere baksanız bile, kullandığınız cihazın türü ve IP adresiniz gibi bazı kişisel bilgiler alırız. E-posta adresiniz, telefon numaranız, adres defteri kişileriniz ve genel profiliniz gibi ek bilgileri bizimle paylaşmayı seçebilirsiniz. Bu bilgileri, hesabınızın güvenliğini sağlamak ve size daha alakalı paylaşımlar, takip edecek kişiler, etkinlikler ve reklamlar göstermek gibi şeyler için kullanırız. Kişisel bilgileriniz hiçbir şekilde 3’ncü parti yazılım ve kuruluşlarla paylaşılmaz ancak adli herhangi bir vakada kişisel sayılabilecek bilgileriniz gerekli kurumların isteği üzerine paylaşıma açılabilecektir.
    br
    p Sizden topladığımız verileri ve bunları nasıl kullandığımızı sınırlamak ve hesap güvenliği, pazarlama tercihleri, hesabınıza erişebilecek uygulamalar ve Bloom'a yüklediğiniz kitap kişilerin adreslerini ele almak için ayarlarınızda kontrol sağlarız. Bloom'da paylaştığınız bilgileri her zaman indirebilirsiniz.
    br
    p Bizimle paylaştığınız bilgilere ek olarak, ilginizi çeken konuları, yaşınızı, konuştuğunuz dilleri ve diğer sinyalleri belirlemek için paylaşımlarınızı, okuduğunuz içerikleri, Beğenilenleri ve diğer bilgileri kullanırız. size daha alakalı içerik gösterir. Bu bilgilere şeffaflık veririz ve istediğiniz zaman değiştirebilir veya düzeltebilirsiniz.
    br
    p Bu politikayla ilgili sorularınız varsa, kişisel verilerinizi veya gizlilik uygulamalarımızla ilgili başka herhangi bir şeyi nasıl topladığımız veya işlediğimizden, sizden haber almak istiyoruz. Bize istediğiniz zaman ulaşabilirsiniz.
